
@model MembersViewModel

@{
    ViewData["Title"] = "Team Members";
}


@{
    var avatarImage = new List<string>
    {
        "~/images/avatars/Avatar11.svg",
        "~/images/avatars/Avatar3.svg",
        "~/images/avatars/Avatar4.svg",
        "~/images/avatars/Avatar5.svg",
        "~/images/avatars/Avatar6.svg"
    };

    var random = new Random();
   
}
<section id="team-members">
    <div class="page-header">
        <h1>@ViewData["Title"]</h1>
        <button type="button" data-type="modal" data-target="#addMemberModal" class="btn btn-add">Add Member</button>
    </div>


    <div class="members">
        @foreach(var member in Model.Members)
        {

            var selectedImage = avatarImage[random.Next(avatarImage.Count)];

            <div class="card member">
                <div class="image">

                    <img src="@Url.Content(selectedImage) " alt="Random profile picture" />
                </div>
                    <h4 class="name">@member.FirstName @member.LastName</h4>
                <div class="jobtitle">@member.JobTitle</div>

                <div class="email">@member.Email</div>
                <div class="phone">@member.PhoneNumber</div>   
                <div class="role"></div>


            </div>
        }
    </div>
    @if (User.IsInRole("Admin"))
    {
        <partial name="Partials/Modals/_AddMemberModal" model="Model.AddMemberForm" />

    }
</section>



                    <script src="~/js/modals.js"></script>
                    <script src="~/js/validate.js"></script>
                    <script src="~/js/forms.js"></script>